#IPython:
.ipynb_checkpoints

#Python compiled files
*.pyc

#Mac:
.DS_Store

#Latex:
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

#this is generated, ignore to avoid conflicts
*/ai15-report-template.pdf
